.moves-bar-container {
    width: 380px;
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(61, 176, 215); 
    border-radius: 17px;
    overflow: scroll;
    padding: 1rem;
}