$highlight-color: rgb(201, 134, 9);

.square {
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 48px;
		height: 48px;
		position: relative;
	}
}

.Black {
	background-color: rgb(76, 68, 68);
}

.White {
	background-color: rgb(197, 189, 172);
}

.selected {
	background-color: $highlight-color;
}

.available {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: $highlight-color;
}
